#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn-dlt {
  display: block;
  width: 20px;
  height: 20px;
  justify-self: end;
  cursor: pointer;
  margin-left: auto;
  margin-top: -20px;
}

.task-text {
  margin: 30px;
  width: 300px;
  text-align: start;
}

.newInput {
  width: 300px;
  height: 30px;
}

.checkBox {
  display: inline-block;
  margin-left: 20px;
}
